
.DS_Store
*.log
Thumbs.db


**/node_modules/
**/.expo/
**/dist/
**/web-build/
**/ios
**/android/build/
**/.metro-health-check*


**/.pio/
**/.vscode/
**/.gcc
**/.pyc


**/*.jks
**/*.p8
**/*.p12
**/*.key
**/*.pem
**/*.mobileprovision
**/.env*.local